<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="./asset/css/style.css">
</head>
<body>
    <h2>Connexion</h2>
    <form action="" method="post">
        <p>
            <div>E-mail :</div>
            <div><input type="email" name="mail_util" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></div>
        </p>
        <p>
            <div>Mot de passe :</div>
            <div><input type="password" name="pwd_util" pattern="(?=.*\d)(?=.*[a-z0-9])(?=.*[A-Z]).{6,}"></div>
        </p>
        <p>
            <div><input type="submit" value="Connexion" name="connect"></div>
        </p>
    </form>
    <div id="message"></div>
    <script src="./asset/js/script.js"></script>
</body>
</html>